<div style="display: flex; justify-content: right;">
    <button class="btn btn-primary" routerLink="../formulario">
        <span class="bi bi-plus"></span>
        Novo
    </button>
    </div>
     
    <table class="table table-hover">
    
        <thead>
            <tr>
                <th scope="col" width ="20%">Id</th>
                <th scope="col" width ="20%">Nome</th>
                <th scope="col" width ="20%">E-mail</th>
                <th scope="col" width ="20%">Senha</th>
            </tr>
        </thead>
    
        <tbody>
    
            <tr *ngFor= "let d of dados"> 
    
                <th scope="row">1</th>
                <td>{{d.nome}}</td>
    
                <td>
                    <span
                        class= "bi bi-pencil-square" 
                        (click)="editar(d.id)">
                    </span>       
                </td>
    
                <td>
                    <span
                        class="bi bi-trash3" 
                        (click)="excluir(d.id)">
                    </span>
                </td>
    
            </tr>
    
        </tbody> 
    </table>